# 过滤 node 依赖工具
/node_modules

# 过滤 svn 文件
.svn

# 过滤 sass 编译生成的临时文件
/.sass-cache

# 打包生成的目录过滤
/output

# APP目录忽略设置
/app/dist/*
/app/public/main.css
/app/public/main.scss
/app/public/mixin.scss
/app/public/css/lib/mixin_*.scss
/app/public/lib/magic.js
/app/public/lib/magic.vue.js
/app/public/lib/magic.css
/app/public/lib/mixin.scss

/app/page/**/style.css
/app/module/**/style.css

# DEV目录忽略设置
/dev/magic/lib/
/dev/magic/**/style.css
/dev/magic-vue/lib/magic.js
/dev/magic-vue/lib/route.js

# GoodSync临时目录
_gsdata_

# 忽略debug文件
npm-debug.log

# 忽略掉设置文件夹
.settings
.project
.idea

# CORDOVA目录忽略文件夹
/cordova/hooks
/cordova/plugins/*

# 对 AndroidManifest.xml 修改的文件
!/cordova/plugins/android.json

/cordova/platforms/platforms.json
/cordova/platforms/ios/*
/cordova/platforms/android/*

# AndroidManifest.xml 文件，必须和 android.json 一致
!/cordova/platforms/android/AndroidManifest.xml

/cordova/www
/config.xml
/plugins
/www
/gen