<div class="numpad">
    <div class="numbers">
        <span class="item" val="1">1</span>
        <span class="item" val="2">2</span>
        <span class="item" val="3">3</span>

        <span class="item" val="4">4</span>
        <span class="item" val="5">5</span>
        <span class="item" val="6">6</span>

        <span class="item" val="7">7</span>
        <span class="item" val="8">8</span>
        <span class="item" val="9">9</span>

        <span class="item" val=" ">空格</span>
        <span class="item" val="0">0</span>
        <span class="item" val=".">.</span>
    </div>

    <div class="actions">
        <span class="item" val="del"><-</span>
        <span class="item" val="empty">清空</span>
        <span class="item" val="ok">确定</span>
    </div>
</div>