:local(.modal_wrapper) {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;

	.modal-item {
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: none;
		position: absolute;

		.back {
			background-color: rgba(#000000, .35);
		}

		.modal {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			&.center {
				top: 50%;
				transform: translateY(-50%);
			}
			
			&.top {
				top: 0;
			}

			&.bottom {
				bottom: 0;
			}
		}
	}
}