// ========================================================
// card UI生成器
// ========================================================

@mixin card() {
    display: block;
    overflow: hidden;
    position: relative;
    background-color: $card-default-bg;
    line-height: $card-line-height;
    margin-bottom: $card-default-margin;
    @include retina-border(all, $card-border-color);

    .header {
        font-weight: 700;
        padding: $list-item-padding;
        line-height: $list-item-line-height;
        min-height: $list-item-padding*2 + $list-item-line-height;
    }

    .continer {
        padding: $list-item-padding;
        @include retina-border(top, $card-border-color);
    }
}