// ========================================================
// content 内容UI生成器
// ========================================================

@mixin content() {
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    overflow: hidden;

    margin-top: -1px;
    padding-top:1px;

    &.padding > *:first-child {
        padding: $content-padding;
    }

    &.has-header {
        top: $bar-height;
    }
    &.has-footer {
        bottom: $bar-height;
    }

    >*:first-child {
        padding-bottom: 1px;
    }

    .scroll_pullDown, .scroll_pullUp {
        position: absolute;
        z-index: 99;
        width: 100%;
        color: #fff;
        padding: 0 15%;
        background-color: #423f47;
        text-align: center;
        overflow: hidden;
        height: 54px;
        line-height: 54px;

        .icon {
            float: left;
        }
    }

    .scroll_pullDown {
        top: 0;
    }

    .scroll_pullUp {
        bottom: 0;
    }
}

