// ========================================================
// content 内容UI生成器
// ========================================================

@mixin content() {
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    overflow: hidden;

    margin-top: -1px;
    padding-top:1px;
    background-color: $content-back-color;

    &.padding > *:first-child {
        padding: rem($content-padding);
    }

    &.has-header {
        top: rem($bar-height);
    }
    &.has-footer {
        bottom: rem($tabs-height);
    }

    >*:first-child {
        padding-bottom: 1px;
    }

    &.refreshUp {
        padding-top: rem($content-pull-height);
    }

    .scroll_pullDown, .scroll_pullUp {
        position: absolute;
        z-index: 1;
        width: 100%;
        color: #fff;
        padding: 0 15%;
        text-align: center;
        overflow: hidden;
        height: rem($content-pull-height);
        line-height: rem($content-pull-height);
        background-color: $content-pull-back;

        .icon {
            float: left;
        }
    }

    .iScrollVerticalScrollbar {
        width: rem(3px);

        right: rem(1px);
        bottom: rem(2px); top: rem(2px);
    }

    .iScrollHorizontalScrollbar {
        height: rem(3px);

        right: rem(2px); left: rem(2px);
    }

    .scroll_pullDown {
        top: rem(-$content-pull-height);
    }

    .scroll_pullUp {
        bottom: rem(-$content-pull-height);
    }
}

