@mixin dropmenu() {
    min-width: 80px;
    display: inline-block;
    position: relative;
    @include retina-border(all, $dropmenu-border);

    .item, .value {
        width: 100%;
        padding: 0 rem($dropmenu-padding);
        line-height: rem($dropmenu-height);
        display: block;
        background-color: #FFF;

        &.active, &.actived {
            background-color: $dropmenu-active-bg;
        }
    }

    >.wrap {
        left: -1px;
        right: -1px;
        z-index: 1;
        background: #fff;
        position: absolute;
        margin-top: rem(2px);
        box-shadow: 0 rem(1px) rem(6px) hsla(0, 0%, 39%, .2);
        display: block;
        @include retina-border(all, $dropmenu-border);
    }
}
