// ========================================================
// list 列表元素UI
// ========================================================

@mixin list() {
    display: block;
    overflow: hidden;
    margin-bottom: $margin-base;
    background-color: #FFF;
    border: 1px solid $item-default-border;
    border-width: 1px 0;

    &.list-radius {
        border-width: 1px;
        border-radius: $list-border-radius;
    }

    .item {
        display: block;
        position: relative;
        z-index: $z-index-item;

        line-height: $item-line-height;
        min-height: $item-min-height;

        font-size: $item-font-size;
        padding: $item-padding;
        border-bottom: 1px solid $item-default-border;

        &:last-child {
            border-bottom-width: 0;
        }
    }
    &.list-embed {
        padding: 0 $item-padding;

        .item {
            padding: $item-padding 0;
        }
    }


    /*====================================================
     * item-input 相关代码
     *====================================================*/
    .item {
        &.item-input {
            padding: $item-inset-top-padding $item-padding;

            input {
                font-size: inherit;
            }
        }
    }
    &.list-embed {
        .item-input {
            padding: $item-inset-top-padding 0;
        }
    }

    /*====================================================
     * item-avator 相关代码
     *====================================================*/
    .item {
        &.item-avator,
        &.item-avator-large {
            .avator {
                position: absolute;
                top: $item-padding;
                left: $item-padding;
                bottom: $item-padding;

                img {
                    width: 100%;
                }
            }

            >* {
                @include text-ellipsis();
                position: relative;

                &:nth-child(2) {
                    top: -$item-avator-fix;
                }

                &:last-child {
                    bottom: -$item-avator-fix;
                }
            }
        }

        &.item-avator {
            min-height: $item-padding*2 + $item-avator;
            padding-left: $item-padding*2 + $item-avator;

            .avator {
                width: $item-avator;
            }

            >* {
                line-height: $item-avator/2;
            }
        }

        &.item-avator-large {
            min-height: $item-padding*2 + $item-avator-large;
            padding-left: $item-padding*2 + $item-avator-large;

            .avator {
                width: $item-avator-large;
            }

            >* {
                line-height: $item-avator-large/3;
            }
        }
    }
    &.list-embed .item {
        &.item-avator {
            padding-left: $item-padding + $item-avator;
        }

        &.item-avator-large {
            padding-left: $item-padding + $item-avator-large;
        }

        .avator {
            left: 0;
        }
    }


    /*====================================================
     * label-left,icon-left 公用 相关代码
     *====================================================*/
    .item {
        &.label-left .label,
        &.icon-left .icon,
        &.icon-left .icon-small {
            position: absolute;
            left: $item-padding;
            top:50%;
            transform: translate(0,-50%);
        } 
    }
    &.list-embed .item {
        &.label-left .label,
        &.icon-left .icon,
        &.icon-left .icon-small {
            left: 0;
        }
    }


    /*====================================================
     * label-left 相关代码
     *====================================================*/
    .item {
        &.label-left {
            padding-left: $item-inset-left-padding;

            .label {
                display: block;
                min-height: $item-line-height;
                line-height: $item-line-height;
            }
        }
    }
    &.list-embed .item {
        &.label-left {
            padding-left: $item-inset-left-padding - $item-padding;
        }
    }


    /*====================================================
     * icon-left 相关代码
     *====================================================*/
    .item {
        &.icon-left {
            padding-left: $item-icon-padding;

            .icon {
                font-size: $item-icon-font-size;
            }
        }

        &.icon-small {
            padding-left: $item-icon-padding-small;

            .icon {
                font-size: $item-icon-font-small;
            }
        }
    }
    &.list-embed .item {
        &.icon-left {
            padding-left: $item-icon-padding - $item-padding;
        }

        &.icon-small {
            padding-left: $item-icon-padding-small - $item-padding;
        }
    }


    /*====================================================
     * icon-right,item-button-right 公用 相关代码
     *====================================================*/
    .item {
        &.icon-right .icon-right,
        &.item-button-right .button {
            position: absolute;
            right: $item-padding;
            top:50%;
            transform: translate(0,-50%);
        }
    }
    &.list-embed .item {
        &.icon-right .icon-right,
        &.item-button-right .button {
            right: 0;
        }
    }
    

    /*====================================================
     * icon-right 相关代码
     *====================================================*/
    .item {
        &.icon-right {
            padding-right: $item-icon-right-padding;

            .icon-right {
                font-size: $item-icon-right-font-size;
            }
        }
    }
    &.list-embed .item {
        &.icon-right {
            padding-right: $item-icon-right-padding - $item-padding;
        }
    }


    /*====================================================
     * item-button-right 相关代码
     *====================================================*/
    .item {
        &.item-button-right {
            padding-right: $item-inset-left-padding;

            .button {
                font-size: $item-button-font-size;
                padding: 0 $button-padding/2;
                line-height: $item-button-height;
                min-height: $item-button-height;

                &.button-clear {
                    padding: 0;
                    font-size: $item-font-size;

                    &:before {
                        line-height: inherit !important;
                    }
                }
            }
        }
    }
    &.list-embed .item {
        &.item-button-right {
            padding-right: $item-inset-left-padding - $item-padding;
        }
    }
}