// ========================================================
// list 列表元素UI
// ========================================================


@mixin list() {
    display: block;
    overflow: hidden;
    color: $list-item-default-text;
    position: relative;
    margin-bottom: $list-margin-bottom;
    background-color: $list-item-default-bg;
    @include retina-border(top bottom, $list-item-default-border);

    &.list-inset {
        @include retina-border-width(all);
        @include retina-border-radius($list-border-radius);
    }

    &.allact .item.active,
    .item[href].active {
        @include retina-border-width(bottom, 0);

        &:after {
            content: " ";
            position: absolute;
            z-index: -1;
            top: 0;
            height: 100%;
            left: -50%;
            width: 200%;
            background-color: $list-item-default-active-bg;
        }
    }

    .item.clear.active {
        @include retina-border-width(bottom, 1px);

        &:after {
            display: none;
        }
    }

    .item {
        display: block;
        position: relative;
        z-index: $z-index-item;

        line-height: $list-item-line-height;
        min-height: $list-item-padding*2 + $list-item-line-height;

        font-size: $list-item-font-size;
        padding: $list-item-padding;
        @include retina-border(bottom, $list-item-default-border);

        &:last-child {
            border-bottom-width: 0;
            @include retina-border-width(bottom, 0);
        }

        &.item-inline {
            padding: $list-item-padding/3 $list-item-padding;
            min-height: $list-item-padding/3 + $list-item-line-height;
            border-bottom-width: 0;
        }

        &.inline-first {
            margin-top: $list-item-padding/3*1.5;
        }

        &.inline-last {
            margin-bottom: $list-item-padding/3*1.5;
        }

        &.item-embed {
            margin-left: $list-item-padding;
            margin-right: $list-item-padding;

            padding-left: 0;
            padding-right: 0;
        }

        .icon {
            color: $list-item-icon-color;
        }
    }
    &.list-embed {
        padding: 0 $list-item-padding;

        .item {
            padding: $list-item-padding 0;

            &.item-inline {
                padding: $list-item-padding/3 0;
            }
        }
    }
    &.list-embed-left {
        .item {
            padding-left: 0;
            margin-left: $list-item-padding;
        }
    }


    /*====================================================
     * item-input 相关代码
     *====================================================*/
    .item {
        &.item-input {
            padding: $list-item-inset-top-padding $list-item-padding;

            input {
                font-size: inherit;
            }
        }
    }


    /*====================================================
     * item-avator 相关代码
     *====================================================*/
    .item {
        &.item-avator,
        &.item-avator-large {
            .avator {
                border-radius: $list-border-radius;
                position: absolute;
                top: $list-item-padding;
                left: $list-item-padding;
                bottom: $list-item-padding;

                img {
                    width: 100%;
                }
            }

            .line {
                @include text-ellipsis();
                position: relative;

                &:first-of-type {
                    top: -$list-item-avator-fix;
                }

                &:last-of-type {
                    bottom: -$list-item-avator-fix;
                }
            }
        }

        &.item-avator {
            min-height: $list-item-padding*2 + $list-item-avator;
            padding-left: $list-item-padding*2 + $list-item-avator;

            .avator {
                width: $list-item-avator;
                height: $list-item-avator;
            }

            .line {
                line-height: $list-item-avator/2;
            }
        }

        &.item-avator-large {
            min-height: $list-item-padding*2 + $list-item-avator-large;
            padding-left: $list-item-padding*2 + $list-item-avator-large;

            .avator {
                width: $list-item-avator-large;
                height: $list-item-avator-large;
            }

            .line {
                line-height: $list-item-avator-large/3;
            }
        }
    }
    &.list-embed .item,
    &.list-embed-left .item,
    .item.item-embed, {
        &.item-avator,
        &.item-avator-large {
            .avator {
                left: 0;
            }
        }

        &.item-avator {
            padding-left: $list-item-padding + $list-item-avator;
        }

        &.item-avator-large {
            padding-left: $list-item-padding + $list-item-avator-large;
        }
    }


    /*====================================================
     * label-left,icon-left 公用 相关代码
     *====================================================*/
    .item {
        &.label-left .label,
        &.icon-left .icon,
        &.icon-left .icon-small {
            position: absolute;
            left: $list-item-padding;
            top:50%;
            transform: translate(0,-50%);
        } 
    }
    &.list-embed .item,
    &.list-embed-left .item,
    .item.item-embed {
        &.label-left .label,
        &.icon-left .icon,
        &.icon-left .icon-small {
            left: 0;
        } 
    }


    /*====================================================
     * label-left 相关代码
     *====================================================*/
    .item {
        &.label-left {
            padding-left: $list-item-inset-left-padding;

            .label {
                display: block;
                width: $list-item-inset-left-padding - $list-item-padding;
                min-height: $list-item-line-height;
                line-height: $list-item-line-height;
            }
        }
    }


    /*====================================================
     * icon-left 相关代码
     *====================================================*/
    .item {
        &.icon-left {
            padding-left: $list-item-icon-padding;

            .icon {
                font-size: $list-item-icon-font-size;
            }
        }

        &.icon-small {
            padding-left: $list-item-icon-padding-small;

            .icon {
                font-size: $list-item-icon-font-small;
            }
        }
    }


    /*====================================================
     * icon-right,item-button-right 公用 相关代码
     *====================================================*/
    .item {
        &.icon-right .icon-right,
        &.item-button-right .button {
            position: absolute;
            right: $list-item-padding;
            top:50%;
            transform: translate(0,-50%);

            &:before {
                color: $list-item-icon-right-color;
            }
        }
    }
    &.list-embed .item,
    .item.item-embed {
        &.icon-right .icon-right,
        &.item-button-right .button {
            right: 0;
        }
    }
    

    /*====================================================
     * icon-right 相关代码
     *====================================================*/
    .item {
        &.icon-right {
            padding-right: $list-item-icon-right-padding;

            .icon-right:before {
                font-size: $list-item-icon-right-font-size;
            }
        }
    }


    /*====================================================
     * item-button-right 相关代码
     *====================================================*/
    .item {
        &.item-button-right {
            padding-right: $list-item-inset-left-padding;

            .button {
                font-size: $list-item-button-font-size;
                padding: 0 $list-item-button-padding;
                line-height: $list-item-button-height;
                min-height: $list-item-button-height;

                &.button-clear {
                    padding: 0;
                    font-size: $list-item-font-size;

                    &:before {
                        line-height: inherit !important;
                    }
                }
            }
        }
    }
}