// popup 弹框组件

@mixin popup($prefix: pop-) {
    .#{$prefix}wrapper {
        display: none;
    	width: 100%;
    	height: 100%;
    	top: 0; left: 0;
        pointer-events: none;
    	position: absolute;

        .#{$prefix}item {
    		width: 100%;
    		height: 100%;
    		overflow: hidden;
    		display: none;
            // 让击事件传点到后面去
            pointer-events: none;
    		position: absolute;

            >* {
                // 恢复元素默认的点击效果
                pointer-events: auto;
            }

    		.back {
    			width: 100%;
    			height: 100%;
                z-index: -1;
                top: 0; left: 0;
                position: absolute;
    			background-color: $popup-back-color;
    		}
    	}
    }
}
