// ========================================================
// content 内容UI生成器
// ========================================================

@mixin scroll() {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;

    &.scroll-x {
        height: auto;
        display: table;
        white-space: nowrap;
    }

    >*:first-child {
        padding-bottom: 1px;
    }

    .scroll_pullDown, .scroll_pullUp {
        position: absolute;
        z-index: 1;
        width: 100%;
        color: #fff;
        padding: 0 15%;
        text-align: center;
        overflow: hidden;
        height: rem($content-pull-height);
        line-height: rem($content-pull-height);
        background-color: $content-pull-back;

        .icon {
            float: left;
        }
    }

    .iScrollVerticalScrollbar {
        width: rem(3px);

        right: rem(2px);
        bottom: rem(2px); top: rem(2px);
    }

    .iScrollHorizontalScrollbar {
        height: rem(3px);

        right: rem(2px); left: rem(2px);
    }

    .scroll_pullDown {
        top: rem(-$content-pull-height);
    }

    .scroll_pullUp {
        bottom: rem(-$content-pull-height);
    }
}