// ========================================================
// scroll 滚动组件
// ========================================================

@mixin scroll() {
    .scroll-x {
        display: table;
        white-space: nowrap;

        >* {
            display: inline-block;
        }
    }
}