// ========================================================
// text UI生成器
// ========================================================

@mixin text() {
	body {
		font-size: rem($text-size-default);
		font-family: $font-family-sans-serif;
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
  		color: $text-color-default;
	}

	.text-energized {
		color: $text-color-energized;
	}

	.text-mark {
		color: $text-mark-color;
		font-size: rem($text-mark-font);
	}

	.text-money {
		font-family: $text-money-family;
		color: $text-money-color;
	}

	.text-large {
		font-size: rem($text-size-large);
	}

	.text-small {
		font-size: rem($text-size-small);
	}
}