@mixin timer() {
    width: 100%;
    overflow: hidden;
    background-color: #fff;

    .screen {
        display: flex;
        height: 220px;
        width: 100%;
        overflow: hidden;

        &.hideOut {
            display: none;
        }

        .time-item {
            height: $timer-item-height;
            flex: 1;
            margin: $timer-item-height*2 $timer-base-margin;
            text-align: center;
            position: relative;

            &:before {
                z-index: 99;
                content: " ";
                display: block;
                position: absolute;
                height: $timer-item-height;
                width: 100%;
                top: 0; left: 0;
                border: 1px solid #007aff;
                border-width: 1px 0;
            }

            .list {
                margin: 0;
                border-width: 0;

                &:before {
                    display: none;
                }

                .item {
                    border-width: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .bottom {
        margin: rem($timer-base-margin);
        text-align: right;

        .button {
            padding: 0 rem($timer-button-padding);
            margin: 0 rem($timer-button-margin);
        }
    }
}
