// ========================================================
// tools 常用工具样式生成器
// ========================================================

@mixin tools() {
    .disabled {
        @include disabled();
    }

    .block {
        display: block !important;
    }

    .hide {
        display: none !important;
    }

    .show {
        display: block !important;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .text-ellipsis {
        @include text-ellipsis();
    }

    .text-ellipsis-two {
        @include text-ellipsis(2);
    }

    .text-justify {
        @include text-justify();
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    *[class*="retina-border"] {
        $ratio: 2 !default; // 缩放系数
        $color: $border-default-color !default;

        position: relative;
        &:before {
            @include retina-border-content($color, $ratio);
        }
    }

    // 修复 flex 子元素 不能 100% 高度
    .flex-full-height {
        @include flex-full-height;
    }

    .retina-border {
        border-width: 0 !important;
        @include retina-border-width(all);
    }

    .retina-border-top {
        border-top-width: 0 !important;
        @include retina-border-width(top);
    }

    .retina-border-right {
        border-right-width: 0 !important;
        @include retina-border-width(right);
    }

    .retina-border-bottom {
        border-bottom-width: 0 !important;
        @include retina-border-width(bottom);
    }

    .retina-border-left {
        border-left-width: 0 !important;
        @include retina-border-width(left);
    }

    .margin-none {
        margin: 0 !important;
    }

    .padding {
        padding: rem($content-padding);
    }
}
