/*********************************************************************
 * reset 浏览器重置样式输出
 *********************************************************************/
@include reset();
@include tools();
@include text();

html, body {
    width: 100%;
    height: 100%;
}

/*********************************************************************
 * coreui 核心UI组件样式输出
 *********************************************************************/
.loading    { @include loading(); }
.bar        { @include bar(); }
.button     { @include button(); }
.form       { @include form(); }
.tabs       { @include tabs(); }
.content    { @include content(); }
.list       { @include list(); }
.slider     { @include slider(); }
.card		{ @include card(); }

@include scroll();      // scroll 组件样式代码
@include layout();      // layout 布局组件样式代码

.expand {
	display: block;
}

.empty-tip {
	padding-top: 45%;
	width: 100%;
	display: block;
	text-align: center;

	.icon {
		font-size: 76px;
	}

	.text {
		font-size: 1.2em;
		margin-top: 12px;
	}
}