/*********************************************************************
 * 全局常用样式
 *********************************************************************/

.content { 
 	background-color: #eeeeee !important;
}
.scroll_body {
 	background-color: #eeeeee !important;
}
.list {
 	margin-bottom: 15px;

 	&:before {
 		border-color: #cdd2d5;
 	}

 	.item {
 		&:before {
	 		border-color: #cdd2d5;
	 	}
 	}
}

$left-message-border: 1px solid #ddd;
$left-message-bg: #fff;
$right-message-bg: #a3e9a4;
$right-message-border: 1px solid #2baf2b;

.portlet {
	margin: 0;
    background: none;
    clear: both;

    .chats .chatitem {
        list-style: none;
        

        &:first-child {
            margin-top: 0;
        }

        .time {
            text-align: center;
            padding: 10px;
        }

        .message {
            position: relative;
            margin: 0;
            padding: 10px;

           .avatar {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 10px;
            }
            .text {
                position: relative;
                border-radius: 5px;
                max-width: 80%;
                display: inline-block;
                padding: 8px;
                line-height: 16px;
                min-height: 34px;

                &:before {
                    content:'';
                    display: block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    top: 12px;
                    transform: rotate(45deg);
                    background: #fff;
                    border: 1px solid #ddd;
                }
            }

            &.right {
                padding-right: 65px;
                text-align: right;

                .avatar {
                    right: 10px;
                }
                .text {
                    background: $right-message-bg;
                    border: $right-message-border;
                    text-align: left;

                    &:before {
                        left: 100%;
                        margin-left: -3px;
                        background: #a3e9a4;
                        border: 1px solid #2baf2b;
                        border-bottom: none;
                        border-left: none;
                    }
                }
            }
            &.left {
                padding-left: 65px;  

                .avatar {
                    left: 10px;
                }
                .text {
                    background: $left-message-bg;
                    border: $left-message-border;

                    &:before {
                        right: 100%;
                        margin-right: -3px;
                        border-top: none;
                        border-right: none;
                    }
                }     
            }
        }
       
    }
}
