// ========================================================
// 常用布局样式
// ========================================================

@mixin layout() {
    .button-split {
        display: flex !important;

        .button {
            flex: 1;
            @include retina-border(left, $border-default-color, true);

            &:first-child {
                @include retina-border-width(left, 0, true);
            }
        }
    }

    .layout-main {
        display: flex;

        >* {
            flex: 1;
        }

        .main {
            flex: none;
        }
    }

    .layout-split {
        display: flex;

        >* {
            flex: 1;
        }
    }
}