// ========================================================
// 常用布局样式
// ========================================================

@mixin layout() {
    .layout-main {
        display: flex;

        >* {
            flex: 1;
        }

        .main {
            flex: none;
        }
    }

    .layout-split {
        display: flex;

        >* {
            flex: 1;
        }
    }
}