@import "lib/mixin.scss";

.timer {
    overflow: hidden;
    background-color: #fff;

    .screen {
        display: flex;
        height: 220px;
        width: 100%;
        overflow: hidden;

        &.hideOut {
            display: none;
        }

        .time-item {
            height: 44px;
            flex: 1;
            margin: 88px 10px;
            text-align: center;
            position: relative;

            &:before {
                z-index: 99;
                content: " ";
                display: block;
                position: absolute;
                height: 44px;
                width: 100%;
                top: 0; left: 0;
                border: 1px solid #007aff;
                border-width: 1px 0;
            }

            .list {
                margin: 0;
                border-width: 0;

                &:before {
                    display: none;
                }

                .item {
                    border-width: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .bottom {
        margin: 10px;
        padding-bottom: 6px;
        text-align: right;

        .button {
            padding: 0 12px;
            margin: 0 6px;
        }
    }
}