$box-radius:            5px;
$bar-height:            44px;
$body-padding:          10px;
$body-font:             16px;

.confirm {
    display: block;
    overflow: hidden;
    padding-top: $bar-height;
    border-radius: $box-radius;

    .content, .footer {
        position: static;
    }

    .content, .footer {
        background: #FFF;
    }

    .content {
        font-size: $body-font;
        padding: $body-padding*1.6;
    }

    .footer, .bar-footer {
        padding: $body-padding;
        padding-top: 0;
        display: flex;
        margin: 0 -$body-padding/2;
        flex-direction: row;

        .button {
            flex: 1;
            margin: $body-padding/2;
        }
    }

    .button {
        margin: 0;
    }
}