// ========================================================
// 全局默认颜色值
// ========================================================

 

$color-light:                           #fff !default;
$color-stable:                          #f8f8f8 !default;
$color-positive:                        #4a87ee !default;
$color-calm:                            #43cee6 !default;
$color-balanced:                        #66cc33 !default;
$color-energized:                       #f0b840 !default;
$color-assertive:                       #ef4e3a !default;
$color-royal:                           #8a6de9 !default;
$color-dark:                            #444 !default;

$color-orange:                          #F9711F !default;