// ========================================================
// card UI默认变量
// ========================================================

$card-default-padding:					$content-padding !default;
$card-default-bg:						$base-background-color !default;
$card-default-margin:					$margin-base !default;

$card-border-color:						$border-default-color !default;
$card-line-height:						$line-height-base !default;

$card-header-font:						$font-size-large !default;
$card-header-line-height:				$card-header-font !default;