// ========================================================
// confirm 组件变量
// ========================================================


$confirm-default-padding:				$padding-item-inset !default;
$confirm-default-radius:				$border-radius-base !default;
$confirm-default-border:				$border-default-color !default;