// ========================================================
// 内容区默认样式变量
// ========================================================


$content-back-color:  				  #ffffff !default;
$content-pull-back:                   #423f47 !default;
$content-pull-height:                 54px !default;;