// ========================================================
// 内容区默认样式变量
// ========================================================

$content-padding:                     10px !default;
$content-back-color:  				  #ffffff !default;

$content-head-size:                   $block-header !default;
$content-foot-size:                   $block-footer !default;