$dropmenu-padding:                   $padding-item-inset !default;
$dropmenu-height:                    40px !default;
$dropmenu-active-bg:                 #DDDDDD !default;
$dropmenu-border:                    $border-default-color !default;
$dropmenu-border-radius:             $border-radius-base !default;
