// ========================================================
// 表单元素 默认样式变量
// ========================================================

$input-inline-size:				  32px !default;
$input-inline-fix:				   5px !default;

$input-icon-size:				  38px !default;

$input-toggle-radius:			  50% !default;
$input-toggle-width: 			  56px !default;
$input-toggle-height:			  $input-inline-size !default;
$input-toggle-border:			   2px !default;
$input-toggle-back:				  $color-positive !default;
$input-toggle-uncheck:			  #ddd !default;
$input-toggle-unback:			  #fff !default;
$input-toggle-center:  		      #fff !default;
$input-toggle-move:               $input-toggle-width - $input-toggle-height;


$input-shadow-vpos:				   2px !default;
$input-shadow-blur:			       7px !default;
$input-shadow-base:				   1px !default;
$input-shadow-opacity:			  0.35 !default;


$input-height-base:               $line-height-computed + ($padding-base-vertical * 2) !default;
$input-height-large:              (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2)) !default;
$input-height-small:              (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2)) !default;

$input-bg:                        $color-light !default;
$input-bg-disabled:               $color-stable !default;

$input-color:                     #111 !default;
$input-border-color:              $border-default-color !default;
$input-border-width:              $border-default-width !default;
$input-label-color:               $color-dark !default;
$input-color-placeholder:         lighten($color-dark, 40%) !default;
