// icon-font 相关变量



$icon-font-checkbox-empty:			  "\f372" !default;
$icon-font-checkbox-select:			  "\f373" !default;

$icon-font-radio-empty:				  "\f3a6" !default;
$icon-font-radio-select:			  "\f3a7" !default;

$icon-font-close:					  "\f129" !default;