// ========================================================
// 列表默认样式变量
// ========================================================


$list-border-radius:               4px !default;

$item-font-size:                  14px !default;
$item-border-width:                1px !default;
$item-padding:                    12px !default;

$item-line-height:                $line-height-computed !default;

$item-avator-fix:                  3px !default;
$item-avator:                     $item-line-height*2.6 !default;
$item-avator-large:               $item-line-height*3.3 !default;

$item-inset-top-padding:           6px !default;
$item-inset-left-padding:         96px !default;

$item-button-font-size:           12px !default;
$item-button-height:              30px !default;

$item-icon-font-size:             32px !default;
$item-icon-padding:               $item-padding + $item-icon-font-size + 3px !default;

$item-icon-font-small:            20px !default;
$item-icon-padding-small:         $item-padding + $item-icon-font-small + 5px !default;

$item-icon-right-font-size:       $button-icon-size !default;
$item-icon-right-padding:         $item-padding + $item-icon-right-font-size + 5px !default;

$item-default-bg:                 #fff !default;
$item-default-border:             #ddd !default;
$item-default-text:               #444 !default;
$item-default-active-bg:          #D9D9D9 !default;