// ========================================================
// 列表默认样式变量
// ========================================================


$list-border-radius:              		$border-radius-base !default;
$list-margin-bottom:			  		$margin-base !default;

$list-item-font-size:                  	$font-size-base !default;
$list-item-border-width:               	$border-default-width !default;
$list-item-padding:                    	$padding-item-inset !default;

$list-item-default-bg:                 	$base-background-color !default;
$list-item-default-border:             	$border-default-color !default;
$list-item-default-text:              	$color-dark !default;
$list-item-default-active-bg:          	#D9D9D9 !default;

$list-item-line-height:                	$line-height-computed !default;

$list-item-avator-fix:                  3px !default;
$list-item-avator:                     	$list-item-line-height*2.6 !default;
$list-item-avator-large:               	$list-item-line-height*3.3 !default;

$list-item-inset-top-padding:           6px !default;
$list-item-inset-left-padding:         	96px !default;

$list-item-button-font-size:           	12px !default;
$list-item-button-height:              	30px !default;
$list-item-button-padding:			  	$button-padding/2 !default;

$list-item-icon-color:				  	$list-item-default-text !default;
$list-item-icon-font-size:             	18px !default;
$list-item-icon-padding:               	$list-item-padding * 1.6 !default;
$list-item-icon-fix:					3px !default;

$list-item-icon-right-color:			$list-item-default-text !default;
$list-item-icon-right-font-size:       	$button-icon-size !default;
$list-item-icon-right-padding:         	$list-item-padding + $list-item-icon-right-font-size + 5px !default;

