// ========================================================
// loading 默认样式变量
// ========================================================

$loading-size:                  40px !default;
$loading-time:                  1.4s !default;
$loading-top:                   40% !default;
$loading-color:                 #67CF22 !default;