// ========================================================
// slider 默认样式变量
// ========================================================



$slider-font-size:   				$font-size-base !default;
$slider-points-height:  			32px !default;
$slider-points-size:				10px !default;
$slider-points-margin: 				6px !default;
$slider-points-opacity: 			.5 !default;
$slider-points-active: 				#fff !default;