// ========================================================
// tab UI默认变量
// ========================================================


$tabs-height:                     $block-footer !default;
$tabs-padding:                     2px !default; 
$tabs-text-font-size:             14px !default;
$tabs-text-font-size-side-icon:   12px !default;

$tabs-icon-size:                  28px !default;
$tabs-icon-size-only:             28px !default;

$tabs-striped-height:              3px !default;
$tabs-striped-width:               70% !default;

$tabs-default-bg:                 #fff !default;
$tabs-default-border:             $button-stable-border !default;
$tabs-default-text:               $button-stable-text !default;
$tabs-default-active:			  $button-stable-text !default;
$tabs-default-striped:			  $button-default-active-border !default;

$tabs-stable-bg:                  $button-stable-bg !default;
$tabs-stable-border:              $button-stable-border !default;
$tabs-stable-text:                $button-stable-text !default;
$tabs-stable-active:			  $button-stable-active-border !default;
$tabs-stable-striped:			  $button-stable-active-border !default;

$tabs-positive-bg:                $button-positive-bg !default;
$tabs-positive-border:            $button-positive-border !default;
$tabs-positive-text:              $button-positive-text !default;
$tabs-positive-active:			  $button-positive-active-border !default;
$tabs-positive-striped:			  $button-positive-active-border !default;