// ========================================================
// text 组件样式
// ========================================================

$text-color-default:					#353535 !default;
$text-color-energized:					#e85920 !default;

$text-size-default:						$font-size-base !default;
$text-size-small:						12px !default;
$text-size-normal:						$font-size-base !default;
$text-size-large:						16px !default;


$text-mark-font:						$text-size-small !default;
$text-mark-color:						#828282 !default;

$text-money-color:						#e85920 !default;
$text-money-family:						"Arial" !default;						
