$timer-base-margin:               10px !default;
$timer-item-height:               44px !default;

$timer-actions-margin:            10px !default;
$timer-button-padding:            12px !default;
$timer-button-margin:             6px !default;
