$tip-border-radius:             $border-radius-base !default;
$tip-padding-vertical:          $padding-large-vertical !default;
$tip-padding-horizontal:        $padding-large-horizontal !default;

$tip-back-color:                rgba(0, 0, 0, 0.7) !default;
$tip-text-color:                #fff !default;
$tip-icon-margin:               $padding-large-vertical !default;
$tip-icon-font-size:            3em !default;
