mg-page, mg-view, .mg-view, .mg-page {
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: hidden;
}

mg-page {
    overflow: hidden;
    transition: all .6s ease;
    
    &.transition-none {
        transition-duration: 0s;
    }

    &.push-enter {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }

    &.push-leave {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }

    &.back-enter {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }
    
    &.back-leave {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}