.mg-scroll {
    display: block;
    width: 100%;
    overflow: hidden;

    .scroll-x {
        display: table;
        white-space: nowrap;
    }
}

.scroll_body {
    margin-top: -1px;
    background-color: #fff;
}

